{% extends "base.html" %}  
{% load crispy_forms_tags %}
{% load i18n %}
{ {% block head %}
    <title>Post</title>
{% endblock head %}}

{% block body %}
<br>

<div class="container">
    {% if confirm_message %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>{{ title }}</h3>
            <p>{{ confirm_message }}</p>
        </div>
    </div>
    {% endif %}
    {% if form %}
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
            <h3></h3>
            <div class="col-sm-6-sm-offset-3">
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-sm text-white" style="background-color: rgb(153, 5, 76);">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-md-4"></div>
    </div>
   
    {% endif %}
</div>

<br>
<hr>
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; LinkLuxe.inc &middot; <a href="#">Privacy</a> LinkLuxe <a href="#">Terms</a></p>
</footer>

{% endblock body %}